/*=========================
    LOOKBOOK STYLES
==========================*/


.wrapper-widgets {
    margin: 44px auto;
}

.tabss {
    text-align: center !important;
}

.tabss input[type=radio] {
    display:none;
}

.tabss label {
    display: inline-grid;
    width: 31% !important;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    margin-bottom: 26px !important;
    transition: border-bottom 1s ease;
    border-bottom: 1px transparent solid;
}



.tabss [id^="tab"]:checked + label {
    border-bottom: 1px solid #05301a;
    border-bottom-width: thin; 
}

.tab-style {
    font-family: din-2014,sans-serif;
    font-style: normal;
    font-weight: 600;
}

.tab-content {
    display: none;
    width: 100%;
    overflow: visible !important;
}

 #tab1:checked ~ #tab-content1,
 #tab2:checked ~ #tab-content2,
 #tab3:checked ~ #tab-content3 {
    display: block;
}

.ps-images {
    display: grid;
    grid-gap: 0 !important;
    grid-template-columns: repeat(auto-fill,250px) !important;
}



/*=========================
    PRODUCT STYLES
==========================*/


.widget__content {
    max-width: 1280px;
    margin: 0 auto;
}

.widget__title {
    font-size: 1.5rem;
    margin-left: 20px;
}

.ps-carousel.ps-theme-modern .ps-carousel-slider.ps-slider-horizontal {
    padding: 12px 16px !important;
}